.text-field {
  padding: 12px 0;
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid var(--color-foreground1);
  background: transparent;
  color: var(--color-foreground3);
  font-family: inherit;

  &:focus {
    outline: none;
    border-color: var(--color-foreground3);
    color: var(--color-foreground3);
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  min-height: 60px;
}

.error-message {
  font-size: 14px;
  margin: 10px 0 20px 0;
  color: var(--color-primary-red4);
}
